.p{
    width: 20%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(245, 206, 206);
    border-radius: 10px 10px 0px 0px ;
    overflow: hidden;
}

.p1-title{
    font-size: 50px;
    font-weight: bold;
}

.p-browser{
    height: 20px;
    background-color:  rgb(245, 206, 206);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}

.p-img{
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img{
    transform: translateY(-25%);
}

