.pl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pl-texts{
    width: 90%;
}

.pl-title{
    font-size: 50px;
    font-weight: 800;
}

.pl-desc{
    margin-top: 30px;
    margin-bottom: 70px;
}

.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .pl{
        width: 390%;
        padding: 0px 30px;
        height: 200vh;
    }
    
    .pl-texts{
        width: 100%;
    }

    .pl-title{
        font-size: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 35px;
        margin-top: 20px;
    }

    .pl-desc{
        display: none;
    }

    .pl-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }
}
